Django==3.0.4
django-prometheus==2.1.0
certifi==2025.4.26
charset-normalizer==3.4.2
elastic-transport==8.17.1
elasticsearch==9.0.1
idna==3.10
kagglehub==0.3.12
norm==1.6.0
numpy==2.0.2
packaging==25.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
scipy==1.13.1
six==1.17.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
django-blog-zinnia==0.20
psycopg2-binary==2.9.6
